
AddressBook/
Adobe/
AdobeWLCMCache.dat/
Google/
App Store/
CallHistoryDB/
CallHistoryTransactions/
CloudDocs/
Console/
CrashReporter/
Dock/
Quick Look/
com.apple.TCC/
com.apple.spotlight/
com.apple.spotlight.Shortcuts/
iCloud/
iTerm/