<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>AMUPYjc5OGY4NmI0NGRjAj21fcEpGAfm/cneeTu8wauI3/WsmUpKWmfgRzXPQ79pi8JvogE6ctuUotSAUrViJYw5LwaKKEqGuv57ExHUJpF4ebHPdiWf5Jp2cwPLPtoLXFOHYgOnsDfAjZvmBI1M7u3lVf6S6N7ofNVHR1gKGxrUcZVmZ1fJBQdbXXhRIK/gHNjZ9Zxd</string>
	<key>email</key>
	<string>vinitlee@gmail.com</string>
</dict>
</plist>
